#p1 * {
	position: absolute;
}
.bg {
	width: 7.5rem;
	height: 13.34rem;
}
#p1_mao {
	width: 2.04rem;
	top: 4rem;
	left: calc((100% - 2.04rem)/2);
}
.yuan {
	top: 5.64rem;
	width: 0.12rem;
}
#p1_yuan1 {
	left: calc((100% - 0.12rem)/2);
}
#p1_yuan0 {
	left: 3.25rem;
}
#p1_yuan2 {
	left: 4.15rem;
}
#p1_yuan3 {
	display: none;
}
#p1_loaning {
	font-size: 18px;
	width: 7.5rem;
	text-align: center;
	top: 6rem;
}
#p2 * {
	position: absolute;
}
#p2_btn {
	width: 2rem;
	left: calc((100% - 2rem)/2);
	top: 10rem;
	opacity: 0;
	animation: 1s danRu linear forwards;
}
@keyframes danRu {
	100% {
		opacity: 1;
	}
}
@keyframes daXiao {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}
.xing {
	width: 1.5rem;
}
#xing0 {
	right: 0.5rem;
	top: 8rem;
	animation: 1s 0.5s daXiao linear infinite;
}
#xing2 {
	top: 5rem;
	left: -0.5rem;
	animation: 1s daXiao linear infinite;
}
#xing1 {
	top: 1rem;
	animation: 1s 0.5s daXiao linear infinite;
}
#xing0 {
	animation: 1s daXiao linear infinite;
}
#p3 * {
	position: absolute;
}
.zhezhao {
	width: 7.5rem;
	height: 13.34rem;
	background-color: black;
	opacity: 0.4;
}
#err,#ok {
	width: 7.5rem;
	height: 13.34rem;
	display: none;
}
#p3_err,#p3_ok {
	width: 5rem;
	top: 4rem;
	left: calc((100% - 5rem)/2);
}
.kong {
	width: 0.58rem;
	height: 2.36rem;
	top: 5.29rem;
}
#p3_kong0 {
	left: 0.9rem;
}
#p3_kong1 {
	left: 2.18rem;
}
#p3_kong2 {
	left: 3.5rem;
}
#p3_kong3 {
	left: 4.77rem;
}
#p3_kong4 {
	left: 6.1rem;
}
.daXiao {
	animation: 1s daXiao linear infinite;
}
.opt {
	width: 0.66rem;
	height: 2.76rem;
	top: 9.08rem;
	opacity: 0;
	transition: all 0.6s; 
}
#p3_opt0 {
	left: 0.66rem;
	animation: 1s danRu linear forwards;
}
#p3_opt1 {
	left: calc(0.66rem + (1 * 0.8rem));
	animation: 1s 0.6s danRu linear forwards;
}
#p3_opt2 {
	left: calc(0.66rem + (2 * 0.8rem));
	animation: 1s calc(1s + 0.6s * 1) danRu linear forwards;
}
#p3_opt3 {
	left: calc(0.66rem + (3 * 0.8rem));
	animation: 1s calc(1s + 0.6s * 2) danRu linear forwards;
}
#p3_opt4 {
	left: calc(0.66rem + (4 * 0.8rem));
	animation: 1s calc(1s + 0.6s * 3) danRu linear forwards;
}
#p3_opt5 {
	left: calc(0.66rem + (5 * 0.8rem));
	animation: 1s calc(1s + 0.6s * 4) danRu linear forwards;
}
#p3_opt6 {
	left: calc(0.66rem + (6 * 0.8rem));
	animation: 1s calc(1s + 0.6s * 5) danRu linear forwards;
}
#p3_opt7 {
	left: calc(0.66rem + (7 * 0.8rem));
	animation: 1s calc(1s + 0.6s * 6) danRu linear forwards;
}
#music_icon{
	position: fixed;
	left:10px;
	top:10px;
	z-index: 10;
}
#result{
	position: absolute;
	font-size: 0.36rem;
	font-weight: bold;
	color: red;
	left: 2.2rem;
	top: 4.50rem;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* 设置白色描边效果 */
}
#chartContainer{
	position: absolute;
	width: 3rem;
	height: 3rem;
	left: 50%;
	top: 50%;
	margin-left: -1.5rem;
	margin-top: -1.8rem;
}
