* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: calc(100vw/7.5);
}
#content {
    width: 100vw;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
    position: absolute;
    overflow: hidden;
}
@media screen and (min-width:480px) {
    html {
        font-size: calc(100vh/13.34);
    }
    #content {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        overflow: hidden;
    }
}
#view {
    width: 7.5rem;
    height: 13.34rem;
    overflow: hidden;
    position: relative;
}
#view > div {
    display: none;
}